@model IEnumerable<FijiMed.Data.Entities.Doctor>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DoctorId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrescriberNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProviderNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserId)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrescriberNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProviderNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
